<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eliad.drive4u">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.StudentScheduleLessonActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.UserTypeChoiceActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.TeacherHomeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.ProfileActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.TeacherScheduleActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.StudentRegistrationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.StudentHomeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.StudentSearchTeacherActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.TeacherRegistrationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.TeacherProfileActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.StudentProfileActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.TeacherMyStudentsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.StudentLessonsArchiveActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.TeacherStudentInfoActivity"
            android:launchMode="singleTask" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".TeacherUI.TeacherMainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tmpMainActivity"
            android:label="@string/title_activity_tmp_main"></activity>
    </application>

</manifest>