<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.base.eliad.drive4u">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.teacher_activities.TeacherLessonArchiveActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />

        <activity android:name=".activities.teacher_activities.TeacherStudentsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />

        <activity
            android:name=".activities.teacher_activities.TeacherConnectionRequestsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />

        <activity
            android:name=".activities.teacher_activities.TeacherProfileActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />

        <activity
            android:name=".activities.teacher_activities.TeacherHomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"  />

        <activity android:name=".activities.student_activities.StudentLessonsArchiveActivity" />
        <activity android:name=".activities.student_activities.StudentChooseTeacherActivity" />
        <activity android:name=".activities.student_activities.StudentSearchTeacherActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".teacher_ui.TeacherSchedulerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.student_activities.StudentSchedulerLessonActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registration.RegistrationMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activities.student_activities.StudentMainActivity"
            android:label="@string/title_activity_student_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chat.ChatMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".notifications.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".chat.MainChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ResetPasswordActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".activities.LoginActivity" />
    </application>

</manifest>